<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.blog.dao.TagMapper">
    <!--Type findByName(String name);-->
    <select id="findByName" resultType="com.learn.blog.bean.Tag">
        select * from t_tag where name=#{name}
    </select>
</mapper>